<% unless @params['image_local_path'] %>
 <form class="panel" selected = "true" title="New Pic & Tweet" >
     <a  href="PicTimeLine/edit" class="whiteButton"> Choose Picture</a>
 </form>
<% else %>        

<form title="New Pic & Tweet" 
	  class="panel"
	  selected = "true"
	  id="pictimeline_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>" selected="true">
	<fieldset>
    	<input type="hidden" name="id" value="<%=@pictimeline.object%>"/>
		  <div class="row">
			  <label>Text: </label>
			  <input type="text" name="pictimeline[text]"/>
		  </div>

		  <div class="row">
		    <label>Pic: </label>     
       	  <img src="<%= @params['image_local_path']%>" width='100px'></img>
          <input  type="hidden" value="<%= Rho::RhoSupport.url_encode(@params['image_local_path'])%>" name="pictimeline[image_uri]">
        </p>
		  </div>
	</fieldset>

	<input type="submit" value="Create"/>
</form>
<% end %>		    
