<ul id="TimeLines" title="TimeLines">
<%@TimeLines.each do |x|%>

<li><%=link_to "#{x.text}", "edit", x.object%></li>

<%end%>
<li><font color="blue"><%=link_to "New TimeLine", "new"%></font></li>
</ul>