<form title="New TimeLine" 
	  class="panel"
	  id="TimeLine_new_form" 
	  method="POST" 
	  action="<%=url_for('create')%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@TimeLine.object%>"/>
		
		  <div class="row">
			  <label>text: </label>
			  <input type="text" name="TimeLine[text]"/>
		  </div>		
	</fieldset>
	<input type="submit" value="Create"/>
</form>