<div class="toolbar">
	<h1 id="pageTitle">
		<script language="JavaScript">
			document.write(document.title)
		</script>
	</h1>
	<a id="backButton" class="button" href="./"></a>
</div>
<ul id="home" selected="true" title="Twitter">
	<li><a  href="PublicTimeLine"> Public Tweet</a></li>
	<li><a  href="TimeLine">Friend's Tweet</a></li>
	<li><a  href="TimeLine/new">New Tweet</a></li>
	<li><a  href="GeoTimeLine"> Neighbor Tweet</a></li>
</ul>
