<form title="Edit PublicTimeline2" 
	  class="panel" 
	  id="PublicTimeline2_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@PublicTimeline2.object%>"/>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @PublicTimeline2.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>