<ul id="PublicTimeline2s" title="PublicTimeline2s">
<%@PublicTimeline2s.each do |x|%>

<li>Some list entry...</li>

<%end%>
<li><font color="blue"><%=link_to "New PublicTimeline2", :action => :new%></font></li>
</ul>