<form title="New PublicTimeline2" 
	  class="panel"
	  id="PublicTimeline2_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@PublicTimeline2.object%>"/>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>