<ul id="MyTimeLines" title="MyTimeLines">
<%@MyTimeLines.each do |x|%>

<li><%=link_to "#{x.text}", :action => :show, :id => x.object%></li>

<%end%>
<li><font color="blue"><%=link_to "New MyTimeLine", :action => :new%></font></li>
</ul>