<ul id="home" selected="true" title="Ruby Mobile Twitter">
  <% if SyncEngine::logged_in > 0 %>		
  	<li><a  href="GeoTimeLine"> Neighbor Tweet</a></li>
  	<li><a  href="PublicTimeLine"> Public Tweet</a></li>
  	<li><a  href="MyTimeLine"> Friends Tweet</a></li>
  	<li><a  href="MyTimeLine/new"> Post New Tweet</a></li>
    <li><a  href="Settings/logout"> Logout </a></li>
	<% else %>
  	<li>You are logged out </li>
  	<li><a  href="Settings/login"> Login </a></li>
	<% end %>
</ul>

