<ul id="home" selected="true" title="Twitter">
	<li><a  href="GeoTimeLine"> Neighbor Tweet</a></li>
	<li><a  href="MyTimeLine"> Freinds Tweet</a></li>
	<li><a  href="PublicTimeLine"> Public Tweet</a></li>
	<% if SyncEngine::logged_in > 0 %>		
	<li>You are logged in </li>
	<% else %>
	<li>You are logged out </li>
	<% end %>
	<li><a  href="Settings/login"> Login </a></li>
  <li><a  href="Settings/logout"> Logout </a></li>
</ul>

