<script language="JavaScript">
		
if (location.href =='http://localhost:8080/app/index_erb.iseq?settings=true') {
    window.location ='/app/Settings';
}

</script>

<div class="toolbar">
	<h1 id="pageTitle">
		<script language="JavaScript">
			document.write(document.title)
		</script>
	</h1>
	<a id="backButton" class="button" href="./"></a>
</div>
<ul id="home" selected="true" title="Twitter">
	<li><a  href="PublicTimeLine"> Public Tweet</a></li>
	<li><a  href="MyTimeLine">Friend's Tweet</a></li>
	<li><a  href="MyTimeLine/new">New Tweet</a></li>
	<li><a  href="GeoTimeLine"> Neighbor Tweet</a></li>
</ul>
