<div align="center">

	<% lat =  GeoLocation.latitude.to_s %>
	<% lon = GeoLocation.longitude.to_s %>
	
  <form title="Index GeoTimeLine" 
  	  class="panel"
  	  id="GeoTimeLine_index_form" 
  	  method="POST" 
  	  action="<%=url_for(:action => :show)%>">
  	<fieldset>
  		  <div class="row">
  			  <label>Tweets within: </label><br>
  			  <div align="center"><br>
          <input type="radio" name="radius" value="1" checked> 1
          <input type="radio" name="radius" value="5" > 5
          <input type="radio" name="radius" value="10" > 10
          </div>
  		  </div>
		
  		  <div class="row">
  			  <div align="center"><br>
          <input type="radio" name="unit" value="km" checked> Km
          <input type="radio" name="unit" value="mi" > Mile<br>
          </div>
  		  </div>
  	</fieldset>
  	<input type="submit" value="Display"/>
  </form>
</div>