<form title="Post New Tweet" 
	  class="panel"
	  id="MyTimeLine_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@MyTimeLine.object%>"/>

		  <div class="row">
			  <label>Text: </label>
			  <input type="text" name="MyTimeLine[text]"/>
		  </div>
	
	</fieldset>
	  <li><a  href="PicTimeLine/edit"> [Choose Picture]</a></li>
	<input type="submit" value="Create"/>
</form>